*.a
*.class
*.dll
*.dylib
*.exe
*.o
*.obj
*.pyc
*.pyo
*.so
.deployables
*.jpg
*.jpeg
*settings.py
*.db
.pydevproject
.project





src/env2.db
src/crowd_web/settings.py

*.a
*.class
*.dll
*.dylib
*.exe
*.o
*.obj
*.pyc
*.pyo
*.so
.deployables
